// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  overscroll-behavior: none;
}

/* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  ::-webkit-scrollbar {
      width: 10px;
      height: 0;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #aaa;
  }
}
